@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
    font-family:'Raleway',sans-serif;
  }
  .custom-img{
  background-image: url('./media/big.jpg');
  
  }
  @layer utilities{
    .text-gradient{
      background-clip:text;
      -webkit-text-fill-color: transparent;
    }
  }
  